.all-slides {
    counter-reset: slides;
    position: absolute;
    padding: 3rem 1rem 1rem 2rem;
    height: 100%;
    overflow: auto;
  }
  
  .slides-title {
    position: fixed;
    z-index: 8;
    text-align: center;
    border-bottom: 1px solid #CDD1D8;
    color: #8585A2;
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
  }
  
  .slide {
    position: relative;
    user-select: none;
    &:before {
      position: absolute;
      counter-increment: slides;
      content: counter(slides);
      padding-right: 0.35rem;
      color: #999;
      font-size: 1rem;
    }
  }
  
  .ui-sortable-helper {
    transition: none !important;
    animation: pulse 0.4s alternate infinite;
  }
  
  .sortable-placeholder {
    height: 60px;
    width: 5px;
    border-left: 2px solid #4999DA; 
    margin: 0 0 0.75rem 0;
    position: relative;
    z-index: 6;
  }
  
  @keyframes pulse {
    100% { transform: scale(1.1); } 
  }
  
  .cloned-slides {
    .slide {
      position: absolute;
      z-index: 1;
      &:before {
        content: attr(data-pos);
      }
    }
  }